{{page-title "EmberQuickstart"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}

<h1> Welcome Eman's first EmberJS app</h1>

{{outlet}}

<a href="http://localhost:4200/scientists" style="color: brown;"><b>Scientist Page</b></a>
<div><a href="http://localhost:4200/programmers"> Famous Programmers</a></div>
