{{page-title "Programmers"}}
  <PeopleList 
    @title="List of Famous Programmers"
    @people={{@model}}
  />
  <div><a href="http://localhost:4200/" style="color: green;"> <b>Home</b></a></div>
{{outlet}}